/* CSS Document */
*, *::after, *::before {
  box-sizing: border-box;
}

/*:root {
  --main-color;
  --background-color:;
  --background-highlight-color:;

  --p-color:#fff;
  --p-background-color:dodgerblue;
*/


body {
  margin: 0;

}

/************* HEADER *************/

/************* MOCO-LOGO *************/

header h1 {
  width: 3em;
  margin: 0 0 0 0;

}

header h1 :hover {
  opacity: 50%;
  transition: 0.5s;
}

/************* HAMBURGERMENU *************/
header button{
  position: relative;

  width:4em;
  height:4em;

  display:flex;
  justify-content:center;
  align-items:center;
  left: 90%;
  
}

header button span {

  display:block;
  width:50%;
  height:1px;
  background-color:black;

  position: absolute;
  

  transition: .3s;
}
 header button span:nth-of-type(1) {
    transform:translatey(-5px);
  }
  
  header button span:nth-of-type(2) {
  }
  
  header button span:nth-of-type(3) {
    transform:translatey(5px);
  }
  
  nav.menuOpen button span {
    background-color:red;
  }
  
  nav.menuOpen button span:nth-of-type(1) {
    transform:rotate(45deg);
  }
  
  nav.menuOpen button span:nth-of-type(2) {
    opacity:0;
  }
  
  nav.menuOpen button span:nth-of-type(3) {
    transform:rotate(-45deg);
  }

/************* LANGUAGES-LIST *************/

header section ul li a {

  margin-right: 0.7em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

header section ul {
  display: flex;
  justify-content: center;

  margin: 0.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  text-decoration: none;
  background-color: white;
  text-transform: uppercase;
  list-style-type: none;

}

header ul li {
  list-style-type: none;
  width: 3em;
  font-size: 12px;
  flex-shrink: 0;

}

header a::after{
content:"";

position: absolute;
left: 0;
right: 0;
bottom:0;

height: 1px;

background-color: hotpink;

transition: .3s;
transform: scaleX(0);
}

header a:hover::after{
  transform: scalex(1);

}

header a {
  color: black;
  font-size: 12px;
  text-decoration: none;
}

header a:hover {
  font-weight: 600;
  border-bottom: solid;
  border-color: hotpink;
  padding: 0 0 0.5em 0;

}

/************* PRIJZEN & OPENINGSTIJDEN *************/

main section:nth-of-type(1) {
  height: 15em;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: radial-gradient(red 50%, pink 50%);
  background-size: 1em 1em;
}

main section:nth-of-type(1):hover {
  background-color: pink;
}

main section:nth-of-type(1) h2 {
  background-color: white;
  color: hotpink;
  font-size: 1.5 em;

  height: 10em;
  width: 10em;
  padding: 1em;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main section:nth-of-type(1):hover h2 {
  background-color: hotpink;
}

/************* KOOP TICKETS *************/

main section:nth-of-type(2) {
  background-color: hotpink;
  height: 15em;

  display: flex;
  justify-content: center;
  align-items: center;

}

.witRondje {
  height: 15em;
  width: 50em;
  padding: 0;
  /*border-radius: 50%;*/
  background-image: radial-gradient(circle closest-side, white 100%, transparent 100%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  text-align: center;
  transition: 1s;
}

.witRondje h3, .witRondje h2 {
  margin: 0 0 0.25em;
}

.witRondje h2 {
  font-size: 3em;
  margin-bottom: 0.1em;
}

.witRondje h3 {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 1em;
}

.witRondje:hover {
  background-color: hotpink;
  background-image: radial-gradient(circle closest-side, hotpink 100%, hotpink 100%);
  color: transparent;
  transition: 0.5s;

}

main section:nth-of-type(2) h2 {
  text-align: center;

}


/************* EXPOSITIES *************/
main section:nth-of-type(3) {
  background-color: hotpink;
  height: 15em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main section:nth-of-type(3) img {
  width: 100%;
  max-width: 10em;

}



/************* STORIES *************/