/* CSS Document */
*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --main-color: hotpink;
  --background-color: hotpink;

  --titles-color: white;
  --p-color: white;

  --link-color: black;
  --link-focus-color: darkblue;

}

body {
  margin: 0;
  font-family: 'Libre Caslon Text', serif;
  background-color: var(--background-color);
  color: var(--main-color);
  background-color: var(--background-color);

}

/* ------------------------------------- TWEEDE PAGINA - EXPOSITIES ----------------------------------- */
/* volledige header in mainstyling css bestand */

/*********** Moco Museum Barcelona **********/

main section:nth-of-type(1){
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 2em;
}


main section:nth-of-type(1) img:nth-of-type(1) {

  display: flex;
  justify-content: center;

  height: auto;
  max-width: 100%;

  background-color: var(--background-color);
  margin-top:1.5em;
}

main section:nth-of-type(1) h1 {
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
  font-family: 'Yeseva One', cursive;
  font-size: 2em;
  background-color: var(--background-color);
  color: var(--p-color);
  margin: 0;
}

main section:nth-of-type(1) h2 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-family: 'Yeseva One', cursive;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--p-color);
  margin: 0;
}

main section:nth-of-type(1) p {
  font-family: 'montserrat', sans-serif;
  color: var(--p-color);
  line-height: 1.3;
  max-width: 70em;
  margin-bottom: 30px; 
}

main section:nth-of-type(1) a{
  position:relative;
  
  color:var(--link-color);
  
  text-decoration:none;
  outline:none;

  max-width: 100%;
  height: auto;

  font-family: 'montserrat', sans-serif;
  font-weight: bold;

  color: var(--link-color);
  border-radius: 8px;
  text-decoration: none;
  padding: 5px 10px;
  margin:0 auto 0 auto;
  text-align: center; 
  width: fit-content; 
}

main section:nth-of-type(1) a::before {
  content:"";
  background-color:currentcolor;
  
  position:absolute;
  
  left:.5em;
  right:.5em;
  bottom:-.5em;
  
  height:.2em;
  
  border-radius:.125em;
  
  transform:scalex(0);
  transition:all .2s ease;
}

main section:nth-of-type(1) a:hover::before {
  transform:scalex(1);
}

main section:nth-of-type(1)a:visited {
  color:var(--link-visited-color);
}

main section:nth-of-type(1) a:hover{
  font-size: 21px;
  color: white;
  transition:all .3s ease;
  background-color:black;
} 
      
/********************** the New Future ***********************/

main section:nth-of-type(2){
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 2em;
}

main section:nth-of-type(2) img:nth-of-type(1) {
  display: flex;
  justify-content: center;

  height: auto;
  max-width: 100%;

  background-color: var(--background-color);
  margin-top:1.5em;
}

 main section:nth-of-type(2) h1 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-family: 'Yeseva One', cursive;
  font-size: 2em;
  background-color: var(--background-color);
  color: var(--p-color);
  margin: 0;
}

main section:nth-of-type(2) h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  font-family: 'Yeseva One', cursive;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--p-color);
  margin: 0 1em 0 1em;
}

main section:nth-of-type(2) p {
  font-family: 'montserrat', sans-serif;
  color: var(--p-color);
  line-height: 1.3;
  max-width: 70em;
  margin-bottom: 30px; 
}

main section:nth-of-type(2) a{
  position:relative;
  
  color:var(--link-color);
  
  text-decoration:none;
  outline:none;

  max-width: 100%;
  height: auto;

  font-family: 'montserrat', sans-serif;
  font-weight: bold;

  color: var(--link-color);
  border-radius: 8px;
  text-decoration: none;
  padding: 5px 10px;
  margin:0 auto 0 auto;
  text-align: center; 
  width: fit-content; 
}

main section:nth-of-type(2) a::before {
  content:"";
  background-color:currentcolor;
  
  position:absolute;
  
  left:.5em;
  right:.5em;
  bottom:-.5em;
  
  height:.2em;
  
  border-radius:.125em;
  
  transform:scalex(0);
  transition:all .2s ease;
}

main section:nth-of-type(2) a:hover::before {
  transform:scalex(1);
}

main section:nth-of-type(2)a:visited {
  color:var(--link-visited-color);
}

main section:nth-of-type(2) a:hover{
  font-size: 21px;
  color: white;
  transition:all .3s ease;
  background-color:black;
} 

/******************* THE KID ***********************/

main section:nth-of-type(3){
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 2em;
}


main section:nth-of-type(3) img:nth-of-type(1) {

  display: flex;
  justify-content: center;

  height: auto;
  max-width: 100%;

  background-color: var(--background-color);
  margin-top:1.5em;
}

main section:nth-of-type(3) h1 {
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
  font-family: 'Yeseva One', cursive;
  font-size: 2em;
  background-color: var(--background-color);
  color: var(--p-color);
  margin: 0;
}

main section:nth-of-type(3) h2 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-family: 'Yeseva One', cursive;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--p-color);
  margin: 0;
}

main section:nth-of-type(3) p {
  font-family: 'montserrat', sans-serif;
  color: var(--p-color);
  line-height: 1.3;
  max-width: 70em;
  margin-bottom: 20px; 
}

main section:nth-of-type(3) a{
  position:relative;
  
  color:var(--link-color);
  
  text-decoration:none;
  outline:none;

  max-width: 100%;
  height: auto;

  font-family: 'montserrat', sans-serif;
  font-weight: bold;

  color: var(--link-color);
  border-radius: 8px;
  text-decoration: none;
  padding: 5px 10px;
  margin:0 auto 0 auto;
  text-align: center; 
  width: fit-content; 
}

main section:nth-of-type(3) a::before {
  content:"";
  background-color:currentcolor;
  
  position:absolute;
  
  left:.5em;
  right:.5em;
  bottom:-.5em;
  
  height:.2em;
  
  border-radius:.125em;
  
  transform:scalex(0);
  transition:all .2s ease;
}

main section:nth-of-type(3) a:hover::before {
  transform:scalex(1);
}

main section:nth-of-type(3)a:visited {
  color:var(--link-visited-color);
}

main section:nth-of-type(3) a:hover{
  font-size: 21px;
  color: white;
  transition:all .3s ease;
  background-color:black;
} 
